/* Special Styles of components */

.imgProfile {
  max-width: 80px;
  padding: 5%;
  margin-left: 15px;
  margin-top: 15px;
}

.profileSpam {
  font-size: 130%;
  text-transform: capitalize;
  color: rgb(110, 110, 110);
  position: relative;
  top: 35px;
  left: 10%;
}

p::first-letter {
  text-transform: capitalize;
}

.cardPost{
  margin: auto;
  margin-top: 20px;
  max-width: 500px;

}

.divFooter {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: -20px;
  text-align: center;
}




  